@media print {
@    page {
        size: auto;
    }

    #hideinprint {
        display: none;
    }

    #printlogo {
        background: url("../img/nav/main/logo.png") no-repeat scroll 0 0 transparent;
        display: block;
        float: left;
        height: 33px;
        top: 30px;
        width: 96px;
    }

    #nav-left a>#printlogo {
        background: url("../img/nav/main/logo.png") no-repeat scroll 0 0 transparent;
        display: block;
        float: left;
        height: 33px;
        margin: 39px 0 0 -120px;
        width: 96px;
    }

    .mapprint {
        display: block;
    }

    .logo {
        display: none;
    }
}