/** CONTAINER **/
#container {width:100%; overflow:hidden; margin-top:20px;  padding-bottom:30px;min-width:1000px;}
/* NurSalikeen modified August 1 2013 */
/*@media screen and (min-width:1000px) {*/
    #wrapper {min-width:1000px;}
/*}

@media screen and (max-width:999px) {
    #wrapper {}
}*/

#MoreBtn {width:100%; height:35px; background-image:url(../img/bg/bg_load.png); background-repeat:repeat; background-color:#efefef; border-top:1px solid #dadada; border-bottom:1px solid #dadada; display:block; text-align:center; text-transform:uppercase; font-weight:600;}
#MoreBtn:hover {background-image:none; background-color:#d2d2d2;}
#MoreBtn > .text > img {margin:-3px 5px 0 0;}
#MoreBtn > .text {margin-top:10px; color:#505050;}
#MoreBtn .loader {background:url(../img/loader/white.gif); height:16px; width:16px; margin:10px auto; background-repeat:no-repeat; display:none;}

#container > .item {float:left; padding:0 0 30px 0; margin:0 8px 8px 0; border:1px solid #cccccc; height:auto;}
#container > .item.topitem {border:none; padding:1px;}
#container > .item > img {padding:0; border:0; margin:0; float:left; background-repeat:no-repeat; background-position:-900px -900px;}
#container > .item .loader {display:none; position:absolute; top:50%; left:50%; /* -half,  -half -paddingOfLowerTab */ margin-left:-33px; margin-top:-50px; width:66px; height:66px;}
#container > .item.loading img.pimg {visibility:hidden;}
#container > .item.loading img.loader {display:block;}

#container .topitem {width:980px;padding:0 0 8px 0;}

#container > .product > .overlay.bake > .buttons {opacity:0; visibility:hidden; -moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; -ms-transition:opacity 1s; transition:opacity 1s; }
#container > .product.notouch:hover > .overlay.bake > .buttons, #container > .product.notouch:hover > .overlay.bake .buttons { opacity:1;visibility:visible;  }
#container > .product.hover > .overlay.bake > .buttons, #container > .product.hover > .overlay.bake .buttons { opacity:1;visibility:visible;  }

#container > .product > .overlay.bake > .dummybg {opacity:0; visibility:hidden;  -moz-transition:opacity 1s; -webkit-transition:opacity 1s; -o-transition:opacity 1s; -ms-transition:opacity 1s; transition:opacity 1s; }
#container > .product.notouch:hover > .overlay.bake .dummybg, #container > .product > .overlay.bake {visibility:visible; opacity:1;}
#container > .product.hover > .overlay.bake .dummybg, #container > .product > .overlay.bake {visibility:visible; opacity:1;}


/*ChenChi Jun 13 2013: add saving amount to product*/
#container > .product > .overlay.bake > .dummybg > div 
{
    bottom: 30px; right: 0px;padding: 2px 3px 0px 3px;position: absolute;text-transform: uppercase;color: rgb(216, 208, 12);font-size: 12px;font-style:italic;font-weight:bold; height: 18px; /*change font size from 10 to 12 px by wlh, aug 20 2013*/
    /* background: rgb(105, 96, 89);border-top-left-radius: 15px 15px;display:none;*/
}
#container > .product > .overlay.bake > .dummybg > div > .label
{
    margin-right: 3px;
}
#container > .product > .overlay.bake > .dummybg > div > .amount
{
    font-size: 12px;font-weight:bold;
}
#container > .product > .overlay.bake > .dummybg > div.brand    {float:left;margin-right: 10px;right: auto;}
#container > .product > .overlay.bake > .dummybg > div.brand > .brandcode{ font-size:12px; text-decoration:none;color:#FFFFFF;font-style:normal; font-weight:400;}
#container > .product > .overlay  { width:100%; height:100%; font-size:10px;font-weight:bold;position:absolute;z-index:2;text-align:center; }
#container > .product > .overlay > .dummybg {background:url(../img/bg/bg_overlay.png) repeat;width:100%;height:100%;position:absolute;z-index:1;} 

#container > .product > .overlay > .buttons {bottom:75px; height:90px; width:190px; text-align:center; left:50%; margin-left:-95px; margin-top:0px; position:absolute; z-index:2; text-transform:uppercase; color:#FFFFFF; background:#191919;}
#container > .product.larger > .overlay > .buttons {margin-top:-45px; top:50%;}
#container > .product > .overlay > .buttons > ul > li.divider {background:url(../img/buttons/divider.png); width:2px; height:30px; float:left;} /* Merged with kilo by glaissa, aug 12 2013 */
#container > .product > .overlay > .buttons > .primary {display:block; -webkit-border-radius:0; -moz-border-radius:0; border-radius:0;}
#container > .product > .overlay > .buttons > .button {text-align:center; margin:0 auto;}
#container > .product > .overlay > .buttons > ul > li > a.button > .text {padding:7px 0 8px;}

#container > .product > .overlay > .buttons > ul > li {float:left; height:30px;} /* Merged with kilo by glaissa, aug 12 2013 */
#container > .product > .overlay > .buttons > ul > li:hover {background:#323232;}
#container > .product > .overlay > .buttons > ul > li:active {background:#434343;}
#container > .product > .overlay > .buttons > ul > li > a {width:94px; float:left; height:30px; color:#FFFFFF;} /* Merged with kilo by glaissa, aug 12 2013 */

#container > .product > .overlay > .buttons > ul > li > a.view > .text > .icon {margin:-3px 5px 0 0; float:none;}
#container > .product > .overlay > .buttons > ul > li > a.share > .text > .icon {margin:-2px 5px 0 0; float:none;}
#container > .product > .overlay > .buttons > .red img.icon {float:none; margin:-4px 5px 0 0;}
#container > .product > .overlay > .buttons > .brown img.icon {float:none; margin:-2px 5px 0 0;}
#container > .product > .overlay > .buttons > .soldout , .soldout.button .text {background:#4a4a4a; color:#c4c4c4; cursor:default;}

#container > .product > .promo {color:#ffffff; font-size:10px; text-align:center; line-height:11px;}
/*#container > .product > .badge {height:71px; width:71px; position:absolute;z-index:1; right:0; top:0; vertical-align:center;}*/
#container > .product > .badge {color:#ffffff; font-size:9px; text-align:right; line-height:11px; text-transform:uppercase; height:56px; width:56px; position:absolute;z-index:1; right:0; top:0; vertical-align:middle; padding:7px 7px;}
#container > .product > .badge.b {background:url(../img/promo/badge/bg_badge_1.png) no-repeat;}
#container > .product > .badge.e {background:url(../img/promo/badge/bg_badge_2.png) no-repeat;}
/* #container > .product > .badge.promotion {background:url(../img/promo/badge/bg_badge_3.png) no-repeat;} */

#container > .product > .badge.n.p.ex {background:url(../img/promo/badge/rib_all.png) no-repeat;}
#container > .product > .badge.n.p {background:url(../img/promo/badge/rib_new_promo.png) no-repeat;}
#container > .product > .badge.n.ex {background:url(../img/promo/badge/rib_new_exclusive.png) no-repeat;}
#container > .product > .badge.p.ex {background:url(../img/promo/badge/rib_promo_exclusive.png) no-repeat;}
#container > .product > .badge.n {background:url(../img/promo/badge/rib_new.png) no-repeat;}
#container > .product > .badge.p {background:url(../img/promo/badge/rib_promo.png) no-repeat;}
#container > .product > .badge.ex {background:url(../img/promo/badge/rib_exclusive.png) no-repeat;}


#container > .item .btn-close {top:4px; right:4px; background-color:#cccccc; cursor:pointer; width:10px; height:10px; z-index:4; position:absolute;}

#container > .item.loading  {background-color:#DADADA;}
#container > .item.fixed {padding:0 0 0 0;}

#container > .item > .panel {position:absolute; bottom:0px; width:100%; background-image:url(../img/bg/bg_text.png); background-repeat:repeat; /**opacity:0.4; filter:alpha(opacity=40);**/ height:30px; color:#ffffff; z-index:3;}
#container > .item > .panel > .name {text-transform: uppercase;font-size:12px; margin-top:8px; display:block; text-indent:3px;text-overflow: ellipsis;white-space: nowrap;overflow: hidden; }/*Modified by ChenChi on May 14 2013: reduce the text-indent to 3, remove max-width*/
#container > .item > .panel > .from {font-size:9px; float:right; text-align:right; margin-top:3px; text-transform:uppercase; margin-right:3px;}/*Modified by ChenChi on May 14 2013: reduce the margin-right, remove max-width*/
#container > .item > .panel > .from.nofrom > .price {margin-top:8px;}
#container > .item > .panel > .from > .price {font-size:12px; margin-top:12px; display:block; font-weight:bold; position:absolute; right:3px; top:0px;}
#container .topitem img {padding:0 0 0 0;}
#container .topitem img.alpha {padding:0 8px 0 0;}
#container .topitem img.omega {padding:8px 0 0 0;}

#container .promotag {width:390px; height:290px; float:left; background-repeat:no-repeat; margin-top:10px; position:relative; margin-left:10px;}
/*#container .promotag {width:190px; height:290px; float:left; background-repeat:no-repeat; margin-top:10px; position:relative; margin-left:10px;}*/
/*wlh added */
#container .item.splashholder .splash { overflow:hidden; background-color:#ffffff; width:790px; height:500px; float:left; margin:0; padding:0; }
#container .item.splashholder .splash a img {float:left;}
#container .item.splashholder .splash a:first-child img {margin-right:10px;}
/**/

#container .item.splashholder {width:1192px; height:502px; border:none;}

/* NurSalikeen modified August 1 2013 */
/*@media screen and (min-width:1000px) {*/
    #container .item.splashholder.long {width:1000px;}
/*}


@media screen and (max-width:999px) {
    #container .item.splashholder.long {width:100%;}
}*/
#container .item.splashholder .slideshow { overflow:hidden; position:relative; background-color:#eeeeee; float:left; margin:0; padding:0; }

/*#container .item.splashholder .slideshow { overflow:hidden; background-color:#eeeeee; width:790px; height:590px; float:left; margin:0; padding:0; }*/
#container .item.splashholder .slideshow >img.slideimg { border:0;padding:0; position:absolute; z-index:0; top:0px; left:0px; }
/*#container .item.splashholder .slideshow >.nav { position:absolute; z-index:2; width:auto; height:30px; right:440px; bottom:25px;  } */
#container .item.splashholder .slideshow >.nav { position:absolute; z-index:2; width:auto; height:30px; right:5px; bottom:10px;  } 
/*#container .item.splashholder .slideshow >.nav >.numholder {cursor:pointer; float:left; margin-right:5px; display:block; text-align:center; width:25px; height:25px; border:1px solid #5c5c5c; background-color:#000000; } */
#container .item.splashholder .slideshow >.nav >.numholder {cursor:pointer; float:left; margin-right:5px; display:block; text-align:center; width:30px; height:30px; border:1px solid #5c5c5c; background-color:#000000; } 
/*#container .item.splashholder .slideshow >.nav >.numholder >.loadnext { position:absolute; width:6px;  background-color:#444444; height:25px; }*/
#container .item.splashholder .slideshow >.nav >.numholder >.loadnext { position:absolute; width:6px;  background-color:#444444; height:30px;  }

/*#container .item.splashholder .slideshow >.nav >.numholder >.number { margin-top:3px;color:#5c5c5c; position:relative; } */
#container .item.splashholder .slideshow >.nav >.numholder >.number { margin-top:5px;color:#5c5c5c; position:relative; } 
#container .item.splashholder .slideshow >.nav >.numholder.disabled { opacity:.3; cursor:default; }
#container .item.splashholder .slideshow >.nav >.numholder.selected { border-color:#cccccc;}
#container .item.splashholder .slideshow >.nav >.numholder.selected .number {color:#FFFFFF;}


#container .item .splash  {width:790px;height:530px;}
#container .item.splash img {width:100%;height:100%;}
/*wlh added*/
#container .item.splashholder .promotag .slideshow {width:188px; height:290px;cursor: pointer;  }
#container .item.splashholder .promotag.long .slideshow { width:388px; height:290px;}
#container .item.splashholder .promotag .slideshow img { position:relative; }
#container .item.splashholder .promotag.long .slideshow img { left:-190px; }
#container .item.splashholder .promotag.long .slideshow { background-position:-190px; }

#container .promotag .short { width:190px; height:290px; border:1px solid #cccccc;}
#container .promotag .long {display:none;}
#container .promotag .short {display:block;}
/**/


/*Temporary comment by wlh*/
/*#container .promotag img.short { width:188px; height:288px; border:1px solid #cccccc;}
#container .promotag img.long {display:none;}
#container .promotag img.short {display:block;}
#container .promotag.long img.short {display:none;}
#container .promotag.long img.long {display:block;}*/
#container .promotag:first-child {margin-top:0;}
#container .promotag.first {background-image:url(../img/promo/intro_bg.png); background-position:center bottom; background-color:#ffffff; height:198px; width:188px; border:1px solid #cccccc; }
/*#container .promotag.first {background-image:url(../img/promo/intro_bg.png); background-color:#ffffff; margin-top:0; height:288px; width:188px; border:1px solid #cccccc; }*/
#container .promotag.first.long {background-image:url(../img/promo/intro_bg.png);  width:388px;  }

#container .promotag.first .holder { position:relative; width:150px;  margin:0 auto; margin-top:18px; }
#container .promotag.first.long .holder { width:330px; margin-top:18px; }
#container .promotag.first .holder h1 { font-size:15px; margin-bottom:5px; line-height:18px;}
#container .promotag.first.long .holder h1 {font-size:22px; color:#202020; font-weight:600; line-height:25px; margin-bottom:5px;}
#container .promotag.first .holder h3 { font-size:12px; font-weight:400; color:#505050; line-height:13px;}
#container .promotag.first.long .holder h3 {  font-size:14px; font-weight:400; color:#505050; line-height:20px;}
#container .promotag.first .holder .bottom { position:absolute; left:0px; width:100%; height:80px; padding-top:8px;}
#container .promotag.first.long .holder .bottom { position:absolute; top:60px; left:0px; width:100%; height:80px; padding-top:2px; border-top:1px solid #cccccc; margin-top:35px;} /*wlh edit margin top on 24 Sep 2013*/
/*#container .promotag.first.long .holder .bottom { position:absolute; top:155px; left:0px; width:100%; height:80px; padding-top:5px; border-top:1px solid #cccccc; margin-top:22px;}*/
#container .promotag.first .holder label.subscribe { font-size:12px; font-weight:600; }
#container .promotag.first.long .holder label.subscribe { font-size:13px; font-weight:600;}
#container .promotag.first .holder #subscribe_field {font-size:10px; width:112px; margin-right:0px; height:28px;line-height:28px;margin-top:8px; float:left;}
#container .promotag.first.long .holder #subscribe_field {width:225px;margin-top:10px; margin-right:8px;}
#container .promotag.first.long .holder #subscribe_field.error { border:1px solid #ff0000; }
#container .promotag.first #subscribe_btn .text { background:url(../img/icon/arrow_right_white.png) no-repeat; width:8px; height:11px; margin:9px 12px;} 
#container .promotag.first.long #subscribe_btn .text { background:transparent; width: 70px; height:30px; margin:0;} 
#container .promotag.first.long .holder .agree {margin:10px 0 0 0; font-size:13px;}
#container .promotag.first .holder .agree {margin:10px 0 0 0; font-size:11px;}
#container .promotag.first.long .holder ul.agree > li {float:left; margin-right:5px;width:auto;}
#container .promotag.first .holder ul.agree > li.checkbox {width:20px;}
#container .promotag.first .holder ul.agree > li {width:100px; float:left;}

#container .promotag.long {width:390px;}

#container .topitem img {padding:0 0 0 0;}

#container .topitem img.alpha {padding:0 8px 0 0;}
#container .topitem img.omega {padding:8px 0 0 0;}

#container .promo {height:260px; width:390px; position:relative; float:left}

/** INFO BOX **/
.promotag.first > .holder > .bottom .buttons {display:block; float:left; margin-top:10px;}


.promotag.first > .holder > .bottom .buttons > .button {float:left; width:32px;overflow:hidden;text-indent:100px; margin-top:-1px}  /* todo: include arrow backgorund-image and position */
.promotag.first.long > .holder .bottom .buttons > .button {width:auto;overflow:visible; text-indent:0px;}

/*wlh added Sep 27 2013*/
/*#OverlayVisitFirstMain
{  display:none;
  
    width :100%;
    height:100%;
    background: #000; 
    background: rgba(0,0,0,0.75);
    z-index: 2001;
}*/

#OverlayVisitMain 
{
    display:none;
    width: 500px;
    position: absolute;
    left: 30%;
    top: 5%;
    height: 430px;
    overflow: visible;
    z-index: 2001;
    background-color:#333333;
    border:2px #FFFFFF solid;
}

#OverlayVisitMain > .OverlayVisitDivClose
{    
    /*border-bottom: 1px solid #cccccc;*/
    height: 21px;
    /*background-color: #cccccc;*/
    width: 21px;
    float: right;
    margin-top: -21px;
    margin-right: -21px;
}

#OverlayVisitMain > div  .OverlayVisitClose
{
    float: right;
    background: url(../img/icon/close_white.png) no-repeat;
    height: 21px;
    width: 22px;
}

#OverlayVisitMain >  .OverlayVisitBody
{
    height:340px;   
    /*border: 1px solid #cccccc;*/
    padding-bottom:10px;
}

#OverlayVisitMain >  .OverlayVisitBody .OverlayVisitImage
{
    width: 500px;
    background-image: url(../img/OverlayVisit.jpg);
    height: 240px;
    margin-bottom: 20px;
}

#OverlayVisitMain >  .OverlayVisitBody .idle
{
    padding-left: 20px;
    font-size: 15px;
}
#OverlayVisitMain >  .OverlayVisitBody .idle input[type="text"] 
{
    width:290px;
}
#OverlayVisitMain > .OverlayVisitBody .agree {
    margin: 10px 0 0 0;
    font-size: 15px;
    color:#FFFFFF;
    padding-left: 20px;
    padding-top: 15px;
}

#OverlayVisitMain > .OverlayVisitBody .agree > li > a {
    color: #FFFFFF;
}

#OverlayVisitMain > .OverlayVisitBody .agree > li > a:visited {
    color: #FFFFFF;
}

#OverlayVisitMain > .OverlayVisitBody .agree > li > a:hover {
    color: #FFFFFF;
}


#OverlayVisitMain > .OverlayVisitBody  .buttons {
    display: block;
    float: right;
    background: #FF6633;
    margin-right: 90px;
    border:1px solid #ff6633;
    height: 30px;
}

#OverlayVisitMain > .OverlayVisitBody .buttons .button {
    width: auto;
    overflow: visible;
    text-indent: 0px;
}


#OverlayVisitMain > .OverlayVisitBody .buttons .button .text {
    background: transparent;
    width: 70px;
    height: 30px;
    margin: 0;
    padding: 5px 10px 8px;
    color: #FFFFFF;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    -webkit-user-select: none;
    text-shadow: 0px -1px 0px #211e1a;
    font-weight: 400;
}


#OverlayVisitMain > .OverlayVisitBody ul.agree > li.checkbox {
    width: 20px;
    float: left;
    margin-right: 5px;
}

#OverlayVisitMain > .OverlayVisitBody .OverlayVisitText
{
    font-size : 14px;
    color: #FFFFFF;
    padding-left: 20px;
    margin-top: 20px;
}

#OverlayVisitMain > .OverlayVisitBody .message
{
    padding-left:20px;
    font-size:14px;
    color: #FF0000;
}